*{
    margin:0;
    padding:0;
    color: white;
    font-family: 'Source Code Pro', monospace;;
}

section{
    height:100vh;
    width:200vh;
    display:flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
button {
    background-color: #bd9cf1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #9385b3;
}
.al_doilea_buton{
    background-color: #bd9cf1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    position:absolute;
    bottom:100px;
}
.primul_buton{
    background-color: #bd9cf1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
}}
input[type="checkbox"]
{
    transform: scale(4);
    color:#bd9cf1;
}
input[type="text"] {
    padding: 10px;
    position: absolute;
    font-size: 16px;
    width: 300px;
    
    border: 8px solid #7378c7;
    border-radius: 4px;
    color:black;

    bottom: 200px;
}

input[type="text"]:focus {
    border-color: #66768f; /* Culoare când textbox-ul este selectat */
    opacity:0.8;
color:black;


} 

.container{
    height:100vh;
    width:200vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
}

.one{
    background-image: url(https://github.com/mara-cred/TemaIA3/raw/82b96c8c054a677600ecc0b1fbe90e2d246c1eff/mic%20dejun/poze/1.resize%20-%20Copy%20-%20Copy.jpg);
background-position:center;
background-size:cover;


}
.two{
    background-image: url(poze/2.resize.jpg);
background-position:center;
background-size:cover;
}
.three{
    background-image: url(poze/3.resize.jpg);
background-position:center;
background-size:cover;
}
.four{
    background-image: url(poze/4.resize.jpg);
background-position:center;
background-size:cover;
}
.five{
    background-image: url(poze/5.resize.jpg);
background-position:center;
background-size:cover;
}
.six{
    background-image: url(poze/6.resize.jpg);
background-position:center;
background-size:cover;
}
.seven{
    background-image: url(poze/7.resize.jpg);
    background-position:center;
background-size:cover;
}
.eight{
    background-image: url(poze/8.resize.jpg);
background-position:center;
background-size:cover;
}
/*pentru pozitionarea textlui centrat sub poze*/
.cafea .suc .ceai{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:30px;
}
h3{
    text-align: center;
}


/*CAFEA*/
.cafea img:first-child{
    border-radius:50px;
    margin:30px;
}
.cafea img:last-child{
    display: none;
    border-radius:50px;
    margin:30px;
}
.cafea:hover img:first-child{
    display: none;
}
.cafea:hover img:last-child{
    display: inline-block;
  
}


/*SUC+LIMONADA*/
.suc img:first-child{
    border-radius:50px;
    margin:30px;
}
.suc img:last-child{
    display:none;
    border-radius:50px;
    margin:30px;
}
.suc:hover img:first-child{
    display:none;
}
.suc:hover img:last-child{
    display: inline-block;
}


/*CEAI+LAPTE*/
.ceai img:first-child{ 
    border-radius:50px;
    margin:30px;
}
.ceai img:last-child{
    display:none;
    border-radius:50px;
    margin:30px;
}
.ceai:hover img:first-child{
    display: none;
}
.ceai:hover img:last-child{
    display:inline-block;
}


/*SENVIS*/
.senvis img:first-child{
    border-radius: 50px;
    margin:30px;
}
.senvis img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.senvis:hover img:first-child{
    display:none;
}
.senvis:hover img:last-child{
    display:inline-block;
}


/*OUA*/
.oua img:first-child{
    border-radius: 50px;
    margin:30px;
}
.oua img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.oua:hover img:first-child{
    display:none;
}
.oua:hover img:last-child{
    display:inline-block;
}


/*OATS+IAURT*/
.oats img:first-child{
    border-radius: 50px;
    margin:30px;
}
.oats img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.oats:hover img:first-child{
    display:none;
}
.oats:hover img:last-child{
    display:inline-block;
}


/*CROISSANT+CUPCAKE*/
.pastries img:first-child{
    border-radius: 50px;
    margin:30px;
}
.pastries img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.pastries:hover img:first-child{
    display:none;
}
.pastries:hover img:last-child{
    display:inline-block;
}


/*FRUCTE*/
.fructe img:first-child{
    border-radius: 50px;
    margin:30px;
}
.fructe img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.fructe:hover img:first-child{
    display:none;
   
}
.fructe:hover img:last-child{
    display:inline-block;
    transition: .5s ease;
    backface-visibility: hidden;
    
}

.bauturi{
    margin-right: 30px;
    align-items: center;
    border-radius:50px;
}
body{
    display:flex;
    justify-content: center;
}
