*{
    margin:0;
    padding:0;
    color: white;
    font-family: 'Source Code Pro', monospace;;
}

section{
    height:100vh;
    width:200vh;
    display:flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
button {
    background-color: #bd9cf1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #9385b3;
}
.al_doilea_buton{
    background-color: #bd9cf1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    position:absolute;
    bottom:100px;
}
.primul_buton{
    background-color: #bd9cf1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
input[type="checkbox"]
{
    transform: scale(4);
    color:#bd9cf1;
}
input[type="text"], .primul_buton{
    display: inline-block;
    padding: 10px;
    position: absolute;
    font-size: 16px;
    width: 300px;
    
    border: 8px solid #7378c7;
    border-radius: 4px;
    color:black;

    bottom: 200px;
    display:none;
}

input[type="text"]:focus {
    border-color: #66768f; /* Culoare când textbox-ul este selectat */
    opacity:0.8;
color:black;


} 

.container{
    height:100vh;
    width:200vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
}

form{
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin-top:20px;
    font-size: 25px;

}
input[type="radio"] {
    transform: scale(2); /* Mărește dimensiunea radio button-ului */
    margin: 10px;
}
label {
    display: block; /* Se aliniază la stânga */
    margin-right: 15px; /* Adaugă un spațiu între etichete */
  }
  h1 {
    font-size: 30px; 
    margin: 10px 0; 
}
.buna_dimi{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/8e2d839a15e38df70652d037b1bd1d8cfbc6aa27/mic%20dejun/poze/buna_dimi.png');
    background-position:center;
    background-size:cover;
}
.zero{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/8e2d839a15e38df70652d037b1bd1d8cfbc6aa27/mic%20dejun/poze/zero_poza.png');
    background-position:center;
    background-size:cover;
}
.one{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/82b96c8c054a677600ecc0b1fbe90e2d246c1eff/mic%20dejun/poze/1.resize%20-%20Copy%20-%20Copy.jpg');
background-position:center;
background-size:cover;


}
.two{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/c5e2e40db1773b146411cf28b851b349cbf6a81f/mic%20dejun/poze/2.resize.jpg');
background-position:center;
background-size:cover;
}
.three{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/82b96c8c054a677600ecc0b1fbe90e2d246c1eff/mic%20dejun/poze/3.resize.jpg');
background-position:center;
background-size:cover;
}
.four{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/82b96c8c054a677600ecc0b1fbe90e2d246c1eff/mic%20dejun/poze/4.resize.jpg');
background-position:center;
background-size:cover;
}
.five{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/82b96c8c054a677600ecc0b1fbe90e2d246c1eff/mic%20dejun/poze/5.resize.jpg');
background-position:center;
background-size:cover;
}
.six{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/82b96c8c054a677600ecc0b1fbe90e2d246c1eff/mic%20dejun/poze/6.resize.jpg');
background-position:center;
background-size:cover;
}
.seven{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/82b96c8c054a677600ecc0b1fbe90e2d246c1eff/mic%20dejun/poze/7.resize.jpg');
    background-position:center;
background-size:cover;
}
.eight{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/82b96c8c054a677600ecc0b1fbe90e2d246c1eff/mic%20dejun/poze/8.resize.jpg');
background-position:center;
background-size:cover;
}
.nine{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/3eca03352ce0056df9a5142b96e8f79a1dc57428/mic%20dejun/poze/verde.png');
background-position:center;
background-size:cover;
}
.ten{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/3eca03352ce0056df9a5142b96e8f79a1dc57428/mic%20dejun/poze/verde_inchis.png');
    background-position:center;
    background-size:cover;
}
.eleven{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/3eca03352ce0056df9a5142b96e8f79a1dc57428/mic%20dejun/poze/354d41.png');
    background-position:center;
    background-size:cover;
}
.twelve{
    background-image: url('https://github.com/mara-cred/TemaIA3/raw/3eca03352ce0056df9a5142b96e8f79a1dc57428/mic%20dejun/poze/verde_foarte_inchis.png');
    background-position:center;
    background-size:cover;
}

/*pentru pozitionarea textlui centrat sub poze*/
.cafea .suc .ceai{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:30px;
}
h3{
    text-align: center;
}


/*CAFEA*/
.cafea img:first-child{
    border-radius:50px;
    margin:30px;
}
.cafea img:last-child{
    display: none;
    border-radius:50px;
    margin:30px;
}
.cafea:hover img:first-child{
    display: none;
}
.cafea:hover img:last-child{
    display: inline-block;
  
}


/*SUC+LIMONADA*/
.suc img:first-child{
    border-radius:50px;
    margin:30px;
}
.suc img:last-child{
    display:none;
    border-radius:50px;
    margin:30px;
}
.suc:hover img:first-child{
    display:none;
}
.suc:hover img:last-child{
    display: inline-block;
}


/*CEAI+LAPTE*/
.ceai img:first-child{ 
    border-radius:50px;
    margin:30px;
}
.ceai img:last-child{
    display:none;
    border-radius:50px;
    margin:30px;
}
.ceai:hover img:first-child{
    display: none;
}
.ceai:hover img:last-child{
    display:inline-block;
}


/*SENVIS*/
.senvis img:first-child{
    border-radius: 50px;
    margin:30px;
}
.senvis img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.senvis:hover img:first-child{
    display:none;
}
.senvis:hover img:last-child{
    display:inline-block;
}


/*OUA*/
.oua img:first-child{
    border-radius: 50px;
    margin:30px;
}
.oua img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.oua:hover img:first-child{
    display:none;
}
.oua:hover img:last-child{
    display:inline-block;
}


/*OATS+IAURT*/
.oats img:first-child{
    border-radius: 50px;
    margin:30px;
}
.oats img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.oats:hover img:first-child{
    display:none;
}
.oats:hover img:last-child{
    display:inline-block;
}


/*CROISSANT+CUPCAKE*/
.pastries img:first-child{
    border-radius: 50px;
    margin:30px;
}
.pastries img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.pastries:hover img:first-child{
    display:none;
}
.pastries:hover img:last-child{
    display:inline-block;
}


/*FRUCTE*/
.fructe img:first-child{
    border-radius: 50px;
    margin:30px;
}
.fructe img:last-child{
    display: none;
    border-radius: 50px;
    margin:30px;
}
.fructe:hover img:first-child{
    display:none;
   
}
.fructe:hover img:last-child{
    display:inline-block;
    transition: .5s ease;
    backface-visibility: hidden;
    
}

.bauturi{
    margin-right: 30px;
    align-items: center;
    border-radius:50px;
}
body{
    display:flex;
    justify-content: center;
}
.mesaje_feedback {
    display: flex;
    flex-direction: column; /* Așează elementele unul sub altul */
    align-items: center; /* Aliniază totul pe centru */
    margin-bottom: 20px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px; /* Dimensiunea sliderului */
}

input[type="range"] {
    width: 100%;
    margin: 0 10px;
}

select{
    width: 200px; /* Lățime */
        padding: 10px; /* Spațiere internă */
        font-size: 20px; /* Dimensiunea textului */
        border: 2px solid #577a65; /* Bordură albastră */
        border-radius: 5px; /* Colțuri rotunjite */
        background-color: #939694; /* Fundal gri deschis */
        color: #000000; /* Culoarea textului */
        cursor: pointer; /* Cursor pointer */
}
.optiuni_val_nutri{
    font-size: 30px;
}
